[Desktop Entry]
Name=Time
Name[da]=Tid/dato
Comment=Time, date and timezone.
Comment[da]=Klokke, dato og tidszone
Exec=root-manager time-admin
Icon=
Terminal=0
Type=Application
