[Desktop Entry]
Name=Time
Name[da]=Tid/dato
Name[pl]=Czas
Comment=Time, date and timezone.
Comment[da]=Klokke, dato og tidszone
Comment[pl]=Czas, data i strefa czasowa.
Exec=root-manager time-admin
Icon=
Terminal=0
Type=Application
