[Desktop Entry]
Name=Time
Name[da]=Tid/dato
Name[pl]=Czas
Name[sv]=Tid/datum
Comment=Time, date and timezone.
Comment[da]=Klokke, dato og tidszone
Comment[pl]=Czas, data i strefa czasowa.
Comment[sv]=Tid, datum och tidszon.
Exec=root-manager time-admin
Icon=
Terminal=0
Type=Application
